header {
    background: url(images/header.jpg);
    height: 181px;
    width: 100%;
}

#logo {
    padding: 20px 0 0 50px;
}

#menu {
    margin-top: 55px;
    margin-left: 30px;
    background: white;
    height: 40px;
    opacity: 0.6;
    border-radius: 10px 0px 0px 10px;
}

.lv1 {
    list-style: none;
    padding-top: 12px;
}
.lv1 li {
    display: inline;
    float: left;
    padding: 0 20px 0 0;
    height: 27px;
    font-weight: bold;
}
.lv1 li a,
.lv1 li a:visited {
    text-decoration: none;
    color: red;
}
.lv1 li a:hover {
    color: green;
}

.lv2 {
    display: none;
    position: absolute;
    padding: 0px;
    margin-top: 5px;
}
.lv1 li:hover> .lv2 {
    display: block;
}
.lv2 li {
    float: none;
    display: block;
    background: gray;
    position: relative;
    padding: 10px;
    height: auto;
}
.lv2 li:hover {
    background: greenyellow;
}