body {
  font-family: Arial, sans-serif;
  background: #ffbfbf;
  color: #333;
  text-align: center;
  margin-top: 50px;
}

form {
  background: rgb(255, 214, 214);
  display: inline-block;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  color: #ea7571;
}

input, select, button {
  font-size: 16px;
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input[type="button"]:hover {
  background: #ea7571;
  color: white;
  cursor: pointer;
}